#reticle {
  position: fixed;
  outline: 2px solid orange;
  outline-offset: 3px;
  top: 0;
  left: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-property: translate, height, width;

  &.hidden {
    opacity: 0;
  }
}

*:focus-visible {
  outline: none;
}
